<!-- public/index.html -->
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">    
</head>
<body>   
    <h1>Foto de perfil</h1>
    <div class="row">
        <form action='/Usuario/UploadArquivo' method='post' encType="multipart/form-data">
            <input type="file" name="file" />
            <input class="btn btn-primary" type='submit' value='Upload' />        
        </form>	        
        <a style="margin-left: 5px" href="/Usuario/DownloadArquivo" class="btn btn-success" type='submit' style="color:white">Download</a>            
    </div>    
</body>
</html>